version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"   # host:container
  web:
    build: .
    command: bash -c "RAILS_ENV=production SECRET_KEY_BASE=$SECRET_KEY_BASE bundle exec rails server -b 0.0.0.0"
    ports:
      - "4000:3000"
    environment:
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_ENV: production
      DATABASE_URL: postgres://postgres:password@db:5432/postgres
    depends_on:
      - db

volumes:
  pgdata:
